:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {

}
h1 {
  font-size: 38px;
  font-family: monospace, serif;
}
h2 {
  font-family: Sans-serif;
}
h3 {
  font-family: Sans-serif;
}
h4 {
  font-family: Sans-serif;
}
h5 {
  font-family: Sans-serif;
}
h6 {
  font-family: Merriweather;
}
p {
  font-family: Sans-serif;
}
a {
  text-decoration: none;
}
button {
  border: 1px solid gray;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: none;
  padding: 10px 15px;
}
