.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.newsLayout {
  text-align: center;
  margin-top: 0px;
}

.footerContainer {
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: rgb(28, 28, 28);
  text-align: center;
  p {
    margin: 10px;
    font-size: 16px;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}
